{%extends 'base.html'%}
{% block content %}
{%load static%}
    <div class="border rounded-3 m-5 p-3">
        <p>Enter your Email:</p>
        <form action="" method="GET">{% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
            <input name="email_input" id="EmailInput" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <input type="submit" class="btn btn-primary">
        
    </form>
    <form action="" method="post">{% csrf_token %}
        <input type="hidden" name="email_paragraph" value={{email_p}}>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Code</span>
            <input name="code_input" id="codeInput" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
    </div>
    <p>{{messege}}</p>
</body>
{%endblock%}